html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #ded7f4;
  scrollbar-color: #ded7f4 #1f1f1f;
  /* background-color: #1f1f1f; */
}
*:focus {
  outline: 2px solid #ded7f4;
  border-radius: 10px;
}
.ligne {
  width: 65vw;
  height: 0.5vh;
  background: #ded7f4;
  background: radial-gradient(
    circle,
    rgba(222, 215, 244, 1) 24%,
    rgba(71, 53, 77, 1) 100%
  );
}

/* FOOTER */
footer {
  background: linear-gradient(#1f1f1f 3%, #47354d);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coordonnees-footer {
  padding: 5vh 0 10vh 5vh;
}
.tel-footer {
  display: flex;
  flex-direction: row;
  font-size: 4vh;
  padding-bottom: 3vh;
  color: #ded7f4;
}
.telephone {
  display: flex;
  align-items: center;
  margin-left: 4vh;
}
.img-coordonnees {
  max-width: 4vw;
  max-height: auto;
}
.email-footer {
  display: flex;
  flex-direction: row;
  font-size: 4vh;
  color: #ded7f4;
}
.email {
  margin-left: 4vh;
  display: flex;
  align-items: center;
}
.reseaux-footer {
  display: flex;
  flex-direction: row;
  padding: 5vh 3vw 10vh 0;
}
.copyright-footer {
  display: flex;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 3vh;
}
.image-reseau {
  display: flex;
  max-width: 4vw;
  margin: 3vh;
  transition: background-color 1s, padding 1s, border-radius 1s;
}

/* HEADER Musiques */
.header-musiques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 6vh 0 20vh 0;
  background: linear-gradient(#47354d 60%, #1f1f1f);
  overflow: hidden;
}
.titre-header-musiques {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin-top: 10vh;
}
.liens-header-musiques {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  padding-left: 2vw;
  padding-bottom: 10vh;
}
.bouton-header {
  font-size: 5vh;
  text-decoration: none;
  margin: 4vh 2vh 4vh 2vh;
  padding: 2vh;
  color: #ded7f4;
  transition: background-color 1s, padding 1s, border-radius 1s;
}
.lien-musiques-header-musiques {
  font-size: 5vh;
  text-decoration: none;
  margin: 4vh 2vh 4vh 2vh;
  padding: 2vh;
  color: #ded7f4;
  border: solid 0.5vh #ded7f4;
  border-radius: 10px;
  transition: background-color 1s, padding 1s, border-radius 1s;
}
/* MAIN musiques  */
.musiques {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}
.description-musiques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 60vw;
  height: auto;
  font-size: 4vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.case-musiques {
  display: flex;
  flex-direction: row;
  padding: 10vh 0 10vh 0;
  width: 50vw;
  align-items: center;
}
.description-audio-musiques {
  font-size: 4vh;
  padding-left: 6vw;
}
audio::-webkit-media-controls-panel {
  background-color: #ded7f4;
  color: #ded7f4;
  border-color: #ded7f4;
}
/* HOME */
.home {
  display: flex;
  position: fixed;
  bottom: 5px;
  right: 3px;
  padding: 3vh 2vw 3vh 2vw;
  z-index: 3;
  font-size: xx-large;
  text-decoration: none;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) and (min-width: 0) {
  .titre-header-musiques {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    max-width: 90vw;
  }
  .description-header-musiques {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    text-align: center;
    font-size: 6vh;
    color: #ded7f4;
  }
  .liens-header-musiques {
    display: none;
  }
  #navbar {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 2vw;
    flex-direction: row;
  }
  #navbar-liens {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    background-color: #47354d;
    border-radius: 10px;
    border: 2px solid #ded7f4;
    transition: opacity 0.6s;
    @starting-style {
      opacity: 0;
    }
  }
  div > #navbar-liens {
    display: none;
  }
  div:has(> input:checked) > #navbar-liens {
    display: flex;
  }
  /* input:checked {
  }
  input:not(:checked) {
  } */
  #menu-toggler {
    display: none;
  }
  #menu-logo {
    display: flex;
    font-size: xx-large;
  }
  .description-musiques {
    width: 90vw;
  }
  .case-musiques {
    flex-direction: column;
    width: 90vw;
    margin-bottom: 14vh;
    padding: 0;
  }
  .audio-musiques {
    width: 90vw;
  }
  .description-audio-musiques {
    margin-top: 4vh;
    padding: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reseaux-footer {
    display: flex;
    flex-direction: row;
    padding: 0 5vw 10vh 5vw;
  }
  .coordonnees-footer {
    padding: 5vh 0 5vh 0;
  }
  .img-coordonnees {
    max-width: 7vw;
    max-height: auto;
  }
  .image-reseau {
    display: flex;
    max-width: 15vw;
    margin: 2vh;
  }
  .ligne {
    display: none;
  }
}
/* ANIMATIONS-----------------------$
---------------------------------- */

.bouton-header:hover {
  background-color: #47354d;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 3vh;
  transition-timing-function: ease;
}
.lien-musiques-header-musiques:hover {
  background-color: #47354d;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 3vh;
  transition-timing-function: ease;
}
.image-reseau:hover {
  background-color: #47354d;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 1vh;
}

/* REMINDER : UNE LEGERE BORDER AUTOUR DES CASES-MUSIQUES */
